.backdrop{
	background:url("../images/sucess.jpg") no-repeat 0px 0px;
  background-size: auto;

	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:100%;
	position:relative;
}
