
<!DOCTYPE html>
<html lang="en">


<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155932286-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-155932286-1');
	</script>

	<meta charset="utf-8">

	<!-- begin _includes/seo.html --><titleGreate Noida Mini Marathon Organized by Bennett University and GNoida Authority</title>
	<meta name="description" content="Greater Noida Marathon, GNoida Marathon Organized by Bennett University and GNoida Authority.The upcoming Greater Noida City Mini-Marathon is exactly what the city’s fitness fanatics have been waiting for. Through this, GNIDA and Bennett University want to establish the importance for physical fitness and well-being for all.gnoida">



	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:site_name" content="Greate Noida Mini Marathon Organized by Bennett University and GNoida Authority">
	<meta property="og:title" content="Greate Noida Mini Marathon Organized by Bennett University and GNoida Authority">
	<meta property="og:url" content="http://thegnoidamarathon.com/">




	  <meta property="og:image" content="https://arjun009.github.io//images/Capture.jpg">


<title>Greate Noida Mini Marathon</title>
<meta name="keywords" content="GreateNoidaMarathon,gnoida mini marathon, GreaterNoidaMiniMarathon,gnoida,gnoida marathon,the gnoida marathon,
 Gnoida, Gnoidamarathon, gnoidaminimarathon, gnoidamarathon, bennett, marathon, gnoida, Mini-marathon, GNIDA marathon, Marathon registration">
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<meta name="twitter:site" content="@bennettuniv">
  <meta name="twitter:title" content="Greate Noida Mini Marathon Organized by Bennett University and GNoida Authority">
  <meta name="twitter:description" content="GreateNoidaMarathon, GreaterNoidaMiniMarathon, Gnoida, Gnoidamarathon, gnoidaminimarathon, gnoidamarathon, bennett, marathon, gnoida, Mini-marathon, GNIDA marathon, Marathon registration">
  <meta name="twitter:url" content="http://thegnoidamarathon.com/">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1062983627171086336/RKeXCBbp_400x400.jpg">





<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>





<body>

<!-- banner -->

<!---728x90--->
<style>
		 .blink {
		 animation: blinker 0.6s linear infinite;
		 color: #ff0000;
		 font-size: 30px;
		 font-weight: bold;
		 font-family: sans-serif;
		 }
		 @keyframes blinker {
		 50% { opacity: 0; }
		 }
		 .blink-one {
		 animation: blinker-one 1s linear infinite;
		 }
		 @keyframes blinker-one {
		 0% { opacity: 0; }
		 }
		 .blink-two {
		 animation: blinker-two 1.4s linear infinite;
		 }
		 @keyframes blinker-two {
		 100% { opacity: 0; }
		 }
	 </style>
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="agileits_banner_bottom">
				<h1><span class="blink"> UPDATE!!!</span> </h1>
				<p><b style=" font-size: 20px;color: #000000 ;">If you've received this link via SMS we confirm your registration for Greater Noida City Mini- Marathon 2020. </b><p/>
          <p style=" font-size: 18px;color: #000000 ;">- Water shall be provided at the venue, during the run. </p>
          <p style=" font-size: 18px;color: #000000 ;">- Please approach organizers if you are feeling uneasy/unwell during the course of the run.</p>
          <p style=" font-size: 18px;color: #000000 ;">- All participants to get Vouchers.</p>
          <p style=" font-size: 18px;color: #000000 ;">- Start the run only after collecting bib(with time tracker chip) and caps.</p>
          <p style=" font-size: 18px;color: #000000 ;">- STAY HYDRATED AND WEAR COMFORTABLE SPORTSWEAR(CLOTHES+SHOES) TO WALK/JOG/RUN.</p>
          <p style=" font-size: 18px;color: #000000 ;">- For further updates please check this link again on the day of Marathon.</p>

					<b style=" font-size: 30px;color: #00b300 ;">WE ARE HAPPY TO ANNOUNCE TOTAL CASH PRIZES OF UPTO 1 LAKHS FOR WINNERS OF OPEN ELITE CATEGORY.
</b>
			</div>
		</div>
	</div>


<!-- //features -->
<!-- countdown -->
	<script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="js/timer.js"></script>
<!-- //countdown -->
<br><br><br>
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				 <div class="row">
				<div class="col-md-6 w3_agileits_footer_grid">
					<h3>About Us</h3>
					<p>GNIDA is a single authority set up in 1991 established under UP Industrial Area Development Act 1976 which provides for Planning, Developing, Regulating and Operations in Greater Noida.
<span>
					Bennett University by Times of India Group is a state private university in Uttar Pradesh offering courses in Law, Management, Engineering and Journalism with the aim of providing Ivy League quality of education to undergraduate and postgraduate students making them, ‘life and career ready’.</span></p>
				</div>
				<div class="col-md-6 w3_agileits_footer_grid">
					<h3>Contact Info</h3>
					<ul>
						<li>For all marathon related queries write to us at :</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:sportsdepartment@bennett.edu.in">sportsdepartment@bennett.edu.in</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"><a href="tel:8285564507"></i>+91 9910470196</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"><a href="tel:9818476565"></i>+91 9818476565</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"><a href="tel:9560368433"></i>+91 9560368433</a></li>

					</ul>
				</div>
			</div>


				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="wthree_copy_right">
		<div class="container">
			<p>&copy; 2020 Marathon.</p>

		</div>
	</div>
<!-- //footer -->
<!-- menu -->
<script>
	$(document).ready(function () {
	  $('.mobile-nav-button').on('click', function() {
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)" ).toggleClass( "mobile-nav-button__line--1");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)" ).toggleClass( "mobile-nav-button__line--2");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)" ).toggleClass( "mobile-nav-button__line--3");

	  $('.mobile-menu').toggleClass('mobile-menu--open');
	  return false;
	});
	});
</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>

<!-- Mirrored from demo.w3layouts.com/demos_new/20-01-2017/marathon-demo_Free/511380775/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 08:26:49 GMT -->
</html>
