
<!DOCTYPE html>
<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155932286-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-155932286-1');
	</script>

	<meta charset="utf-8">

	<!-- begin _includes/seo.html --><titleGreate Noida Mini Marathon Organized by Bennett University and GNoida Authority</title>
	<meta name="description" content="Greater Noida Marathon, GNoida Marathon Organized by Bennett University and GNoida Authority.The upcoming Greater Noida City Mini-Marathon is exactly what the city’s fitness fanatics have been waiting for. Through this, GNIDA and Bennett University want to establish the importance for physical fitness and well-being for all.gnoida">



	<meta property="og:type" content="website">
	<meta property="og:locale" content="en_US">
	<meta property="og:site_name" content="Greate Noida Mini Marathon Organized by Bennett University and GNoida Authority">
	<meta property="og:title" content="Greate Noida Mini Marathon Organized by Bennett University and GNoida Authority">
	<meta property="og:url" content="http://thegnoidamarathon.com/">




	  <meta property="og:image" content="https://arjun009.github.io//images/Capture.jpg">


<title>Greate Noida Mini Marathon</title>
<meta name="keywords" content="GreateNoidaMarathon,gnoida mini marathon, GreaterNoidaMiniMarathon,gnoida,gnoida marathon,the gnoida marathon,
 Gnoida, Gnoidamarathon, gnoidaminimarathon, gnoidamarathon, bennett, marathon, gnoida, Mini-marathon, GNIDA marathon, Marathon registration">
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />



<meta name="twitter:site" content="@bennettuniv">
  <meta name="twitter:title" content="Greate Noida Mini Marathon Organized by Bennett University and GNoida Authority">
  <meta name="twitter:description" content="GreateNoidaMarathon, GreaterNoidaMiniMarathon, Gnoida, Gnoidamarathon, gnoidaminimarathon, gnoidamarathon, bennett, marathon, gnoida, Mini-marathon, GNIDA marathon, Marathon registration">
  <meta name="twitter:url" content="http://thegnoidamarathon.com/">


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1062983627171086336/RKeXCBbp_400x400.jpg">





<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>





<body>

<!-- banner -->
	<div class="banner">
		<div class="container">
			<div class="header">
				<div class="w3_agile_logo">
					<h1><a href="http://thegnoidamarathon.com/">Greater Noida Marathon<span>keep going</span></a></h1>
				</div>
				<div class="w3_menu">
					<div class="mobile-nav-button">
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
					</div>
					<nav class="mobile-menu">
						<ul>
							<li class="active"><a href="/">Home</a></li>
							<li><a href="form">Register</a></li>
              <li><a href="routemap">Route Map</a></li>
              <li><a href="sponsors">Sponsors</a></li>
						</ul>
					</nav>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="agile_banner_info">
				<h3><span>finishing</span> a marathon is a state of mind that says anything is possible.</h3>
			</div>
			<div class="agileits_w3layouts_more menu__item">
				<a href="form" class="menu__link">Register For The Marathon</a>
			</div>

		</div>
	</div>
<!-- //banner -->
<!---728x90--->

<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Marathon
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-6 w3_modal_body_left">
							<img src="../images/1.jpg" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-6 w3_modal_body_right">
							<h4>Suspendisse et sapien ac diam suscipit posuere</h4>
							<p>Ut enim ad minima veniam, quis nostrum
							exercitationem ullam corporis suscipit laboriosam,
							nisi ut aliquid ex ea commodi consequatur? Quis autem
							vel eum iure reprehenderit qui in ea voluptate velit
							esse quam nihil molestiae consequatur.
							<i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit
								esse quam nihil molestiae consequatur.</i>
								Fusce in ex eget ligula tempor placerat. Aliquam laoreet mi id felis commodo
								interdum. Integer sollicitudin risus sed risus rutrum
								elementum ac ac purus.</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
<!-- //bootstrap-pop-up -->
<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="agileits_banner_bottom">
				<h3><span>marathon is an event</span> where everyone is equal and ordinary at the starting line
					but a <i>Legend</i> is born at the finish line</h3>
				<p>The upcoming Greater Noida City Mini-Marathon is exactly what the city’s fitness fanatics have been waiting for.
					Through this, GNIDA and Bennett University want to establish the importance for physical fitness and well-being for all.
					The marathon will take place on the morning of 19th of January 2020. There are two categories that you can register under.
					<p><b><h4>The categories are as follows:
					Open Elite: 10Km - Male/Female
					Senior Citizens(Age 50+): 4Km- Male/Female- Walking/Jogging</h4></p></p>
			</div>
			<image src="../images/bennett.png" style="width:30%;height: auto;">
			<image src="../images/gnoida.png" style="width:25%;height: auto;">
<!---728x90--->

		</div>
	</div>
<!-- //banner-bottom -->
<!---728x90--->
<!-- features -->
<br><br>
<h3 class="w3_agile_header">Our <span>Sponsors</span></h3>
			<p class="agile_para">Some Great Organizations,Schools And Colleges Who Sponsored The Event</p>
			<div class="agileits_w3layouts_features_grids">
				<div class="col-md-4 agileits_w3layouts_features_gridl">
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Greater Noida World School</h4>
							<p><a href="https://www.gnws.edu.in/">	<image src="../images/sponsor1.jpg" style="width:60%;height: auto;"></a></p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-eye" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-4 agileits_w3layouts_features_gridl">
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Add Your Sponsor Advertisemnet Here By Contacting Us</h4>
							<p>Add Your Advertisemnet Here By Contacting Us</p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-leaf" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>


				</div>

				<div class="col-md-4 agileits_w3layouts_features_gridl">
					<div class="agileinfo_feature_grid1">
						<div class="col-xs-9 w3_agileits_features_grid1">
							<h4>Contact Us</h4>
							<p>	<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:sportsdepartment@bennett.edu.in"> sportsdepartment@bennett.edu.in</a></li>
								<li><i class="glyphicon glyphicon-earpho" aria-hidden="true"><a href="tel:8285564507"></i> +91 8285564507</a></li></p>
						</div>
						<div class="col-xs-3 w3_agileits_features_grid11">
							<div class="wthree_features_grid hi-icon">
								<i class="fa fa-leaf" aria-hidden="true"></i>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		<br><br>
	<div class="features">
		<div class="container">
      <div class="agileits_countdown">
        <h2>marathon countdown starts</h2>
        <div class="clock w3agile">
          <div class="column days">
            <div class="timer" id="days"></div>
            <div class="w3ls_text">DAYS</div>
          </div>

          <div class="column">
            <div class="timer" id="hours"></div>
            <div class="w3ls_text">HOURS</div>
          </div>

          <div class="column">
            <div class="timer" id="minutes"></div>
            <div class="w3ls_text">MINUTES</div>
          </div>

          <div class="column">
            <div class="timer" id="seconds"></div>
            <div class="w3ls_text">SECONDS</div>
          </div>
        </div>
      </div>


		</div>
	</div>
<!-- //features -->
<!-- countdown -->
	<script type="text/javascript" src="js/moment.js"></script>
    <script type="text/javascript" src="js/moment-timezone-with-data.js"></script>
    <script type="text/javascript" src="js/timer.js"></script>
<!-- //countdown -->
<br><br><br>
<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="agileits_w3layouts_footer_grids">
				 <div class="row">
				<div class="col-md-6 w3_agileits_footer_grid">
					<h3>About Us</h3>
					<p>GNIDA is a single authority set up in 1991 established under UP Industrial Area Development Act 1976 which provides for Planning, Developing, Regulating and Operations in Greater Noida.
<span>
					Bennett University by Times of India Group is a state private university in Uttar Pradesh offering courses in Law, Management, Engineering and Journalism with the aim of providing Ivy League quality of education to undergraduate and postgraduate students making them, ‘life and career ready’.</span></p>
				</div>
				<div class="col-md-6 w3_agileits_footer_grid">
					<h3>Contact Info</h3>
					<ul>
						<li>For all marathon related queries write to us at :</li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:sportsdepartment@bennett.edu.in">sportsdepartment@bennett.edu.in</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"><a href="tel:8285564507"></i>+91 8285564507</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"><a href="tel:9818476565"></i>+91 9818476565</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"><a href="tel:9560368433"></i>+91 9560368433</a></li>

					</ul>
				</div>
			</div>


				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="wthree_copy_right">
		<div class="container">
			<p>&copy; 2020 Marathon.</p>

		</div>
	</div>
<!-- //footer -->
<!-- menu -->
<script>
	$(document).ready(function () {
	  $('.mobile-nav-button').on('click', function() {
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)" ).toggleClass( "mobile-nav-button__line--1");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)" ).toggleClass( "mobile-nav-button__line--2");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)" ).toggleClass( "mobile-nav-button__line--3");

	  $('.mobile-menu').toggleClass('mobile-menu--open');
	  return false;
	});
	});
</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>

<!-- Mirrored from demo.w3layouts.com/demos_new/20-01-2017/marathon-demo_Free/511380775/web/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Dec 2019 08:26:49 GMT -->
</html>
