

<html lang="en">


<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-155932286-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-155932286-1');
</script>

<title>Greate Noida Mini Marathon</title>
<meta name="description" content="GreateNoidaMarathon GreaterNoidaMiniMarathon Gnoida Gnoidamarathon gnoidaminimarathon gnoidamarathon bennett marathon gnoida Mini-marathon GNIDA marathon Marathon registration">
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/customStyle.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="../js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<link href="css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400,700&amp;subset=latin-ext" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>

<body class='backdrop'>
<!-- banner -->
		<div class="container">
			<div class="header">
				<div class="w3_menu">
					<div class="mobile-nav-button">
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
						<div class="mobile-nav-button__line"></div>
					</div>
					<nav class="mobile-menu">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="active"><a href="form">Register</a></li>
              <li><a href="routemap">Route Map</a></li>
              <li><a href="sponsors">Sponsors</a></li>
						</ul>
					</nav>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>

    <form  method="POST" id="registrationform"  onsubmit="myButton.disabled = true; return true;">
      <h1>Register</h1>


      <fieldset>
        <!-- Section 1 -->
        <legend><span class="section">1</span>Your Basic Info</legend>
        <label class="" for="name">First Name:</label>
        <input type="text" name="fname" id="namee" required />

        <label class="" for="name">Surname:</label>
        <input type="text" name="sname" value="" id="surname" required />

        <label class="" for="number">Contact Number:</label>
        <input type="text" name="number" value="" id="number" pattern="[0-9]{10}" placeholder="eg: 1234567890" required />

        <label class="" for="email">Email( OPTIONAL ):</label>
        <input type="email" name="email" value="" id="email"  />

      </fieldset>

      <fieldset>
        <!-- section 2 -->
        <legend><span class="section">2</span>About Yourself</legend>

        <label>Category:</label>
        <input type="radio" name="category" value="O" required> Open Elite<br>
       	<input type="radio" name="category" value="S"> Senior Citizens

           <br /><br />

       <label class="" for="bio">Any medical condition to be noted ?:</label>
       <textarea style="resize: none;" name="bio" id="bio" > </textarea>

        <button type='submit',value='Submit' name="myButton" style="font-size : 35px;width: 100%;">Register</button>
    </form>

<!-- //banner -->
<!---728x90--->

<!-- menu -->
<script>
	$(document).ready(function () {
	  $('.mobile-nav-button').on('click', function() {
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(1)" ).toggleClass( "mobile-nav-button__line--1");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(2)" ).toggleClass( "mobile-nav-button__line--2");
	  $( ".mobile-nav-button .mobile-nav-button__line:nth-of-type(3)" ).toggleClass( "mobile-nav-button__line--3");

	  $('.mobile-menu').toggleClass('mobile-menu--open');
	  return false;
	});
	});
</script>
<!-- //menu -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>

<!-- //here ends scrolling icon -->
<!-- for bootstrap working -->
	<script src="js/bootstrap.js"></script>
<!-- //for bootstrap working -->
</body>

</html>
