<head>
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/success.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
<div class="jumbotron text-center backdrop" style="height:100%;" >
  <h1 class="display-3">Thank You!</h1>
  <hr>
  <p class="lead"><strong>Please check your email</strong> for future updates on the Marathon.</p>

  <div >

  <p>
    Having trouble? <a href="/">Contact us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button" style=" background-color:green">Continue to homepage</a>
  </p>
  </div>
</div>
</body>
